<% include ../partials/header %>


<section>
  <div style="background:#e9ecef;">
    <b>Navigation</b> - &nbsp; <a href="http://localhost:3001" style="text-decoration: none;">Home</a> / <button type="submit" class="btn btn-warning">Games</button>
    <a href="/games/new">
    <button type="submit" class="btn btn-success" style="position:relative;left:69%;">New Game</button>
    </a>
  </div><br/>
  <div class="row">

    <% for ( let game of games ) { %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <%= game.name %>
            </h5>

            <p>
              Description: <%= game.description %>
            </p>

            <p>
              Game Features: <%= game.features %>
            </p>

            <p>
              Length Of Game Play: <%= game.lengthOfGamePlay %>
            </p>

            <p>
              Number Of Players: <%= game.noPlayers %>
            </p>

            <div class="actions">
              <a href="/games/<%= game.id %>" class="btn btn-success" style="background: #28a745;">
                Show
              </a>

              <a href="/games/<%= game.id %>/edit" class="btn btn-warning" style="background: #ffc107;">
                Edit
              </a>

              <form action="/games/<%= game.id %>/delete" method="post"  onsubmit="return confirm('Are you sure you want to delete this game?');">
                <input type="hidden" name="id" value="<%= game.id %>">
                <button type="submit" class="btn btn-danger">DELETE</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    <% } %>

  </div>
</section>

<% include ../partials/footer %>
